
  #intro {
    width: 760px;
    margin: 20px auto 20px auto;
    border: 3px solid purple;
    padding: 30px 55px 30px 55px;
    text-align: left;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 28px;
    color: darkblue;
    line-height: 32px;
  }
  #image-container {
    display: flex;
    justify-content: center;
    margin: 10px 200px;
    border: 6px solid red;
    padding: 20px 20px;
    background-color: aqua;
  }
  img {
    max-width: 310px;
    width: auto;
    height: auto;
    margin: auto 7px;
    border: 3px solid darkblue;
  }
  img:hover {
    width: 310px;
    margin: auto 7px;
    border: 5px solid red;
  }
  #progress {
    width: 400px;
    margin: 20px auto 20px auto;
    border: 3px solid purple;
    padding: 30px 55px 30px 55px;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    color: red;
  }
  table {
    border: 2px solid blue;
    width: 600px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
    color: darkblue;
  }
  th {
    font-family: 'Reem Kufi', sans-serif;
    font-style: oblique;
    font-size: 20px;
    font-weight: bold;
    color: darkblue;
    border: 1px dotted black;
  }
  tr {
    height: 35px;
  }
  td {
    font-family: 'Reem Kufi', sans-serif;
    font-style: normal;
    font-size: 18px;
    color: red;
    text-align: center;
    border: 1px dotted black;
  }
